/*
 * $Id: hotel_booking_calendars.css,v 1.1.2.2 2010/07/19 09:34:25 larowlan Exp $
 * @file hotel_booking_calendars.css
 * Provides css for calendars
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v2 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 *
 */

/*new stuff*/
.calendar-day-number,
.calendar-day-name {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  background-color: #666;
  color: white;
}
.hotel-booking-calendar-with-prices .calendar-day-number,
.hotel-booking-calendar-with-prices .calendar-day-name {
  border-bottom: none;
}
.hotel-booking-availability-edit td,
.hotel-booking-availability-edit th,
body.admin .hotel-booking-rate-edit td,
body.admin .hotel-booking-rate-edit th{
  padding: 0;
  vertical-align: top;
  border: 1px solid #ccc;
}
.hotel-booking-availability-edit,
.hotel-booking-rate-edit{
  border-collapse: collapse;
}
.calendar-edit-wrap {
  padding: 5px;
}
.hotel-booking-calendar-outer {
  width: 222px; /*width is 240 once you add borders in*/
  text-align: center;
  display: inline; /* for ie */
  float: left;
  margin: 10px 20px 10px 0;
}
.hotel-booking-calendar-with-prices {
  width: 385px;
}
.hotel-booking-calendar-fourth,
.hotel-booking-calendar-second {
  margin-right: 0;
}
.hotel-booking-calendar-1,
.hotel-booking-calendar-5,
.hotel-booking-calendar-9,
.hotel-booking-calendar-13 {
  clear: left;
}
.hotel-booking-calendar-price {
  text-align: center;
  font-size: 0.8em;
}
.hotel-booking-calendar-view {
  width: 100%;
}
.hotel-booking-calendar-month {
  background-color: #ccc;
  font-weight: bold;
  color: #333;
  padding: 2px 0;
  border: 1px solid #999;
}
.hotel-booking-calendar-view .calendar-day-name,
.hotel-booking-calendar-view .calendar-day-number {
  font-size: 1em;
  font-weight: normal;
  color: #333;
  background-color: #ccc;
}
.hotel-booking-calendar-view .calendar-day-number {
  background: none;
}
.hotel-booking-state-unavailable {
  background-color: #ff9999;
}
.hotel-booking-state-available {
  background-color: #99ff99;
}
.hotel-booking-state-restricted {
  background-color: #ffff99;
}
.hotel-booking-calendar-view th,
.hotel-booking-calendar-view td {
  padding: 0;
  border: 1px solid #999;
  min-width: 30px;
}
tr.odd .hotel-booking-calendar-view th,
tr.odd .hotel-booking-calendar-view td,
tr.even.hotel-booking-calendar-view th,
tr.even .hotel-booking-calendar-view td {
  padding: 0;
}
.hotel-booking-key .description {
  color: #666666;
  font-size: 0.9167em;
}
.hotel-booking-key .hotel-booking-key-state {
  display: inline; /* for ie */
  padding: 5px;
  float: left;
  width: 210px;
  border: 1px solid #ccc;
  margin-right: 20px;
  text-align: center;
}
