/* $Id: hotel_booking_search.css,v 1.1.2.1 2010/07/02 09:40:02 larowlan Exp $
 * @file hotel_booking_search.css
 * Css for search form
 * @copyright Copyright(c) 2010 Lee Rowlands
 * @license GPL v2 http://www.fsf.org/licensing/licenses/gpl.html
 * @author Lee Rowlands leerowlands at rowlands-bcs dot com
 *
 */
/* room search page */
#hotel-booking-search-form .form-item {
  float: left;
  display: inline;
  margin: 0 10px 0 0;
}
#hotel-booking-search-form .container-inline-date {
  float:left;
  display: inline;
  width: 150px;
}
#hotel-booking-search-form .container-inline-date .form-item{
  width: 150px;
}
#hotel-booking-search-form #edit-smoking-wrapper {
  width: 150px;
}
/* room search block */
#hotel-booking-search .hotel-booking-search-field-wrap {
  float: left;
  display: inline;
  width: 100px;
  margin: 0 10px 0 0;
  position: relative;
}
#hotel-booking-search-block .small-field {
  width: 70px;
}
#hotel-booking-search-block .clear {
  clear: both;
}
#hotel-booking-search-block #adults-wrap,
#hotel-booking-search-block #smoking-wrap,
#hotel-booking-search-block #submit-wrap{
  clear: left;
}
#hotel-booking-search-results label {
  font-weight: bold;
  display: block;
  clear: left;
  text-align: center;
}
.hotel-booking-search-result-book-button {
  text-align: center;
}
.clear-left {
  clear: left;
}
.hotel-booking-search-result {
  clear: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.hotel-booking-search-result-image,
.hotel-booking-search-result-text,
.hotel-booking-search-result-book {
  float: left;
  display: inline; /* for ie */
  position: relative;
  margin-right: 20px;
}
.hotel-booking-search-result-image img {
  padding: 1px;
  border: 1px solid #ccc;
}
.hotel-booking-search-result-image {
  width: 220px;
}
.hotel-booking-search-result-text {
  width: 580px;
}
.hotel-booking-search-result-book {
  margin-right: 0;
  width: 100px;
}
.hotel-booking-search-addtl-details {
  clear: left;
}
.hotel-booking-search-result-book-price {
  text-align: right;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 10px;
}
.hotel-booking-search-result-title {
  font-size: 1.25em;
  font-weight: bold;
}

fieldset .hotel-booking-search-price-outer {
  width: 90px;
  float: left;
  display: inline; /* for ie*/
  border: 1px solid #ccc;
  padding: 4px;
  margin: 0 20px 10px 0;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.hotel-booking-price-1 {
  clear: left;
}
.hotel-booking-price-nightly {
  background-color: #ccc;
}