body { color: #666; }

/* layout */
.wrapper-outer { margin: 0 auto; padding: 0; width: 960px; }
.wrapper { position: relative; }
.wrapper-inner { margin: 0; padding: 10px 0; }
.region { position: relative; }
.region-inner { position: relative; }

/* Blocks */
.block-inner { padding: 10px 0; }

/* Header */
#header { min-height: 100px; }
#logo-title { float: left; }
#logo { float: left; margin-right: 10px; }
#name-and-slogan { float: left; }
#search-box { float: right; }
#header-block { float: right; }

/* Navigation */
#navigation { position: relative; z-index: 100; }
#navigation .menubar { height: 25px; }
#navigation ul.menu, #navigation ul.menu li, #navigation ul.menu li a { margin: 0; padding: 0; display: block; height: 25px; line-height: 2em; }
#navigation ul.menu ul.menu, #navigation ul.menu ul.menu li { height: auto; width: 150px; }

#navigation ul.menu li { position: relative; float: left; }
#navigation ul.menu li:hover ul.menu { display: block; }
#navigation ul.menu li a { margin: 0; padding: 0 10px; display: block; background-color: #f3f3f3; }
#navigation ul.menu li a:hover {  background-color: #ccc; text-decoration: none; }
#navigation ul.menu li:hover>a {  background-color: #ccc;}

#navigation ul.menu ul.menu { display: none; position: absolute; left: 0; top: 25px; width: 150px; }
#navigation ul.menu ul.menu li { height: auto; }
#navigation ul.menu ul.menu li:hover>ul.menu { display: block; }
#navigation ul.menu ul.menu li a { width: 130px; height: auto; line-height: normal; padding: 5px 10px; }

#navigation ul.menu ul.menu ul.menu { display: none; left: 150px; top: 0; }

#navigation #menu-bar { min-height: 30px; }
#navigation #menu-bar .block { min-height: 30px; margin: 0; }
#navigation #menu-bar .block-inner { min-height: 30px; padding: 0; }
#navigation #menu-bar .block-inner .content { min-height: 30px; padding: 0; }

#navigation #menubar-main-menu { position: relative; z-index: 200; }

/* Breadcrumb */
div#breadcrumb { padding: 5px 0; }

/* Main */
#main { width: 100%; }
.two-sidebars #main { width: 58%; float: left; margin-left: 1%; }
.one-sidebar #main { width: 79%; }
.sidebar-first #main { float: right; }
.sidebar-second #main { float: left; }

/* Sidebars */
#sidebar-first { width: 20%; float: left; }
#sidebar-second { width: 20%; float: right; }

/* Forms */
form#user-login-form { text-align: left; }
form#user-login-form .item-list {}

/* Form Elements */
input.form-text, textarea { border: 1px solid #fff; padding: 2px; color: #666; background-color: #f2f2f2; }
select { border: 1px solid #ccc; padding: 2px; color: #666; background-color: #fff; }
input.form-submit { border: none; background-color: #ccc; color: #fff; padding: 1px 2px; cursor: pointer; margin-bottom: 10px; }
input.form-submit:hover { background-color: #999; }
.node-form div.admin { margin-bottom: 10px; }
fieldset { background-color: #f9f9f9; margin-bottom: 10px; padding: 10px; }
fieldset legend { background-color: #999; color: #fff; padding: 5px; min-width: 190px; }
fieldset legend a { color: #fff; }

/* Tabs */
div.tabs ul.tabs.primary { border-bottom: 1px solid #999; height: 20px; margin: 0; padding: 0; display: block; margin: 0; }
div.tabs ul.tabs.primary li { display: block; padding: 0; margin: 0 5px 0 0; float: left; height: 19px; }
div.tabs ul.tabs.primary li a { display: block; height: 19px; margin: 0; padding: 0 10px; line-height: 17px; background-color: #999; border-left: 1px solid #999; border-right: 1px solid #999; border-top: 1px solid #999; color: #fff; }
div.tabs ul.tabs.primary li.active a, 
div.tabs ul.tabs.primary li a:hover { color: #999; background-color: #fff; }

/* Footer */
#footer { text-align: center; }

/* Misc */
body.om-tools-no-title h1#page-title { display: none; }
.messages { background-color: #FFC; padding: 5px; margin: 5px; border: 1px solid #FF0; }
.meta { margin-bottom: 10px; }
#legal { text-align: center; padding: 5px; color: #ccc; }
#legal a { color: #ccc; }
.clearfix { clear: both; }

/* Blocks */
.block { margin-bottom: 10px; }
.block-inner { padding: 10px 0; }
.with-edit-block { position: relative; }
.with-edit-block .edit-block { display: none; position: absolute; top: 0; right: 0; font-size: .7em; background-color: #fff; }
.with-edit-block:hover .edit-block { display: block; z-index: 1000; }
.with-edit-block .edit-block a { display: block; float: left; margin-left: 3px; height: 0; width: 16px; padding: 16px 0 0; overflow: hidden; background: url(images/icons.gif) 0 0 scroll no-repeat; }
.with-edit-block .edit-block a.block-config { background-position: 0 0; }
.with-edit-block .edit-block a.block-config:hover { background-position: 0 -16px; }
.with-edit-block .edit-block a.block-edit-menu { background-position: -16px 0; }
.with-edit-block .edit-block a.block-edit-menu:hover { background-position: -16px -16px; }
.with-edit-block .edit-block a.block-edit-view { background-position: -32px 0; }
.with-edit-block .edit-block a.block-edit-view:hover { background-position: -32px -16px; }


