html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background-color: transparent;
}

body { font-size: .75em; }

h1 { font-size: 2.8em; margin-bottom: 10px; }
h2 { font-size: 2.2em; margin-bottom: 10px; }
h3 { font-size: 1.6em; margin-bottom: 10px; }
h4 { font-size: 1.4em; margin-bottom: 5px; }
h5 { font-size: 1.2em margin-bottom: 5px; }
h6 { font-size: 1em; margin-bottom: 5px; }

a { text-decoration: none; color: #666; }
a:hover { text-decoration: underline; }

p { line-height: 1.6em; margin-bottom: 15px; }

ul, ol { padding: 0 0 0 20px; margin-bottom: 15px; }
ul li, ol li { color: #666; padding-bottom: 5px; }

table { width: 100%; border: none; margin-bottom: 20px; }
table td { padding: 5px; vertical-align: text-top; background-color: #f2f2f2; }

