/* General */
body { font-family: Arial, Helvetica, sans-serif; }

/* Navigation */
#navigation {}
#navigation-inner {}

/* Main Menu */
#navigation #menubar-main-menu {}
#navigation #menubar-main-menu ul.menu {}
#navigation #menubar-main-menu ul.menu li {}
#navigation #menubar-main-menu ul.menu li a {}
#navigation #menubar-main-menu ul.menu li a:hover {}
#navigation #menubar-main-menu ul.menu li.active-trail>a {}

/* Main Menu Submenu */
#navigation #menubar-main-menu ul.menu ul {}
#navigation #menubar-main-menu ul.menu ul li {}
#navigation #menubar-main-menu ul.menu ul li a {}
#navigation #menubar-main-menu ul.menu ul li a:hover {}

/* Secondary Menu */
#navigation #menubar-secondary-menu {}
#navigation #menubar-secondary-menu ul.menu {}
#navigation #menubar-secondary-menu ul.menu li {}
#navigation #menubar-secondary-menu ul.menu li a {}
#navigation #menubar-secondary-menu ul.menu li a:hover {}
#navigation #menubar-secondary-menu ul.menu li.active-trail>a {}

/* Secondary Menu Submenu */
#navigation #menubar-secondary-menu ul.menu ul {}
#navigation #menubar-secondary-menu ul.menu ul li {}
#navigation #menubar-secondary-menu ul.menu ul li a {}
#navigation #menubar-secondary-menu ul.menu ul li a:hover {}

#header-block { float: right; }
/* Turn-off OM Base Theme Credit */
/* #legal { display: none; } */
.clearfix { clear: both; }

table { border-collapse: separate; }


/* OM Subthemer layout */
.region { min-height: 100px; margin-bottom: 5px; }

.region h3 { text-align: left; padding: 5px; font-size: 12px; text-transform: uppercase; color: #999; }
.column { float: left; min-height: 300px; }
.column-1-1 { width: 100%; }
.column-2 { width: 49%; }
.column-2-2 { float: right; }
.column-3-1 { width: 20%; }
.column-3-2 { width: 58%; margin-left: 1%; }
.column-3-3 { width: 20%; float: right; }
.column-4 { width: 25%; }
.column-5 { width: 20%; }

.row { float: none; }

/* Turn-off region borders */
.region { background-color: #f2f2f2; }




