.views-slideshow-controls-top{width:45px;float:left;position:relative;}

.clear-block{}

.node-type-dresses #content .node .content .field-field-slideshow .views_slideshow_main {
    float: right;

}
form#user-login-form .item-list .last {
top: -80px;
position:relative;
}