/**

 * Default OM Starter Subtheme

 *

 */

 

/* General */

body { font-family:Arial, Helvetica, sans-serif; background:#000;}

body.cke_show_borders { background-color: #fff; }

body.page-cart-checkout { font-size: 13px; }

table { border-collapse: separate; }

p { font-family: Arial, Helvetica, sans-serif; color: #000; }

h3.title { margin: 0; } /* Ubercart Reset */


/* Layout */

.wrapper-outer { background: url(images/page_bg.jpg) center top repeat #f5f2e9; width: 100%; }

#page-inner { width: 980px; padding: 0 10px 40px; margin: 0 auto; }

.wrapper {margin-top:10px;}

.wrapper-inner

.region-inner {}

.block-inner { padding: 0; }

.views-slideshow-controls-top{ float: left; width: 50px; }

.mousetrap {

height:30em !important;

width:20em !important;

}



.region { min-height: 100px; margin-bottom: 5px; }

.row { float: none; }

.row .wrapper-inner, .row .region-inner { min-height: 98px; }



.column { float: left; min-height: 300px; }

.column>.wrapper-inner, .column>.region-inner { min-height: 298px; }

.columns-1 { width: 100%; }

.columns-2 { width: 50%; }

.columns-2.column-2-1 { width: 20%; }

.columns-2.column-2-2 { width: 80%; }

.columns-3 { width: 33%; }

.columns-3.column-3-2 { width: 34%; }

.columns-4 { width: 25%; }

.columns-5 { width: 20%; }

.column-first {}

.column-last { float: right; }

.column-first.column-last { float: none; }

.clearfix { clear: both; }



/* Splach Page*/

#splash-image { position: absolute; z-index: -999; }

#splash-page { width: 100%;  }

#splash-page-inner { padding: 55px 80px; margin: 0 auto; }

#splash-page .messages { font-size: 14px; width: 400px; padding: 20px; margin: 100px auto; background-color: #fff !important; }



/* Header Top */

#header-top { height: 55px; min-height: 55px; margin: 0; padding: 10px 10px 0; }

#header-top #block-boxes-social { height: 22px; width: 170px; float: right; overflow:hidden; }

#header-top #block-boxes-social .content a.btn-social { float: left; display: block; padding: 27px 0 0;height:22px; width: 22px; overflow: hidden; background: url(images/icons_social_small.png) 0 0 no-repeat; margin-right: 10px; line-height:0; text-indent: -9999px; }

#header-top #block-boxes-social .content a.btn-twitter { background-position: 0 0; }

#header-top #block-boxes-social .content a.btn-twitter:hover { background-position: 0 -22px; }



#header-top #block-boxes-social .content a.btn-blogger { background-position: 0 -44px; }

#header-top #block-boxes-social .content a.btn-blogger:hover { background-position: 0 -66px; }



#header-top #block-boxes-social .content a.btn-facebook { background-position: 0 -88px; }

#header-top #block-boxes-social .content a.btn-facebook:hover { background-position: 0 -110px ; }



#header-top #block-boxes-social .content a.btn-youtube { background-position: 0 -132px; margin-right: 0; }

#header-top #block-boxes-social .content a.btn-youtube:hover { background-position: 0 -154px ; }



#header-top #block-boxes-header_links { float: right; width: 300px; height: 30px; font-family:"Times New Roman", Times, serif; margin-top:-15px; }

#header-top #block-boxes-header_links .content span,

#header-top #block-boxes-header_links .content span a { color: #000; }



#header-top #block-boxes-header_links .content span.logout { padding: 0 10px; display: block; float: left; border-right: 1px solid #000; margin-right: 6px; margin-top: 2px; }

#header-top #block-boxes-header_links .content span.questions { display: block; float: left; padding: 0 10px; margin-top:-2px; font-family:"Times New Roman", Times, serif; }



#header-top #block-boxes-shopping_cart { width:36px; float:right; margin-right:5px;height:23px;overflow:hidden;}

#header-top #block-boxes-shopping_cart a.shopping_cart { background: url(images/shopping_cart.png); padding: 27px 0 0;height:23px; width:36px;overflow:hidden; line-height:0; display:block; text-indent: -9999px; }

#header-top #block-boxes-shopping_cart a.shopping_cart:hover {}



/* Navigation */

#navigation { height: 30px; clear:both; }

#navigation-inner {}

.not-logged-in.page-member-learn-more #navigation { display: none; }

.not-logged-in.page-user-register #navigation { display: none; }

.not-logged-in.page-user-password #navigation { display: none; }



/* Main Menu */

#navigation #menubar-main-menu { height: 30px; padding-right: 10px; }

#navigation #menubar-main-menu ul.menu { float: right; height: 30px; }

#navigation #menubar-main-menu ul.menu li { height: 30px; }

#navigation #menubar-main-menu ul.menu li a { height: 30px; background: none; font-variant: small-caps; font-size: 20px; font-family: "Times New Roman", Times, serif; line-height: 30px; color: #04194e; letter-spacing: 2px; }

#navigation #menubar-main-menu ul.menu li a:hover,

#navigation #menubar-main-menu ul.menu li.active-trail>a { color:#999; }



/* Main Menu Submenu */

#navigation #menubar-main-menu ul.menu ul {}

#navigation #menubar-main-menu ul.menu ul li {}

#navigation #menubar-main-menu ul.menu ul li a {}

#navigation #menubar-main-menu ul.menu ul li a:hover {}



/* Search */

#search-box { float: none; height: 45px; margin-right: -40px; }

#search-theme-form { float: right; }

#search-theme-form .form-item { margin-top: 0; margin-bottom: 0; }

#search-theme-form input.form-text { font-family: "Times New Roman", Times, serif; border: 1px solid #000; background-color: #fff; padding: 2px 5px; height: 13px; width: 150px; color: #000; font-size: 12px; }

#search-theme-form input.form-submit { display: none; }



/* Main */

#main { position: relative; z-index: 10; width: 710px; }

#main-inner { padding: 0; }



.two-sidebars #main {}

.one-sidebar #main { width: 710px; }

.sidebar-first #main {}

.sidebar-second #main {}



#main div.tabs { margin-bottom: 10px; }

#container-top { position: absolute; top: 0; left: 0; background: url(images/container_top.png) 0 0 no-repeat; width: 710px; height: 10px; }

#container { position: relative; top: 10px; left: 0; background: url(images/container_mid.png) 0 0 repeat-y; width: 600px; padding: 0 60px 10px 50px; min-height: 600px; }

#container-bottom { background: url(images/container_bottom.png) 0 0 no-repeat; width: 710px; height: 20px; }

.node-type-dresses h1#page-title { font-family: "Times New Roman", Georgia, serif; color:#FF49A3; font-size:20px; }

h1#page-title { color: #ff49a3; font-size: 20px; font-family:"Times New Roman", Times, serif }



/* Content */

#content .node .content h1 { color: #ff49a3; font-size: 18px; }

#content .node .content h2 { color: #ff49a3; font-size: 16px; }

#content .node .content h3 { color: #ff49a3; font-size: 15px; }

#content .node .content h4 { color: #ff49a3; font-size: 12px; }

#content .node .content h5 { color: #ff49a3; font-size: 11px; }

#content .node .content h6 { color: #000; font-size: 11px; }

#content .node .content ul { padding-left: 25px; }

#content .node .content ul li { list-style: square;  color: #000; }

#content .node .content ol { padding-left: 25px; }

#content .node .content ol li { color: #000; }

#content .node .content a {}

#content .node .content p {}

#content .node .content table {}

#content .node .content tr {}

#content .node .content th {}

#content .node .content td {}

#content .node .content img {}

#content #node-176 .content a {color:#000;font-weight:bolder;text-decoration:none;}

#content #node-7 .content a {color:#ff49a3;text-decoration:none;}

#content #node-7 .content a:hover {color:#ff49a3;text-decoration:none;}

#content #node-176 .content a:hover{color:#808080;text-decoration:none;}

#content #node-176 .content a.odd:hover{color:#000;text-decoration:none;}

#content #node-176 .content a.odd{color:#808080;text-decoration:none;}

.views-content-field-image-cache-fid{}

#content .node ul.links { float: right; clear: both; display: block; padding: 10px 0; }

#content .node .rental-agreement { float: right; clear: both; display: block; padding: 10px 0; }



#content .view table td { background: none; padding: 5px 5px 15px; }

#content .view table td img { border: 1px solid #ccc; margin-bottom: 5px; }

#content .view table td .views-field-title a,

#content .view table td .views-field-phpcode { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #3d3d3d; }

#content .view table td .views-field-title a { font-weight: bold; font-size: 11px; }



/* Products */

.node-type-dresses #content .node { margin-bottom: 25px; }

.node-type-dresses #content .node .content {}

.node-type-dresses #content .node .content .field-field-slideshow { float: left; margin-right: 20px; width: 310px; height: 305px; }

.node-type-dresses #content .node .content .field-field-slideshow .views_slideshow_main { float: right; }

.node-type-dresses #content .node .content .field-field-slideshow .views-slideshow-controls-bottom { float: left; }

.node-type-dresses #content .node .content .field-field-slideshow .views-slideshow-controls-bottom .views_slideshow_thumbnailhover_div_breakout_teaser { margin-bottom: 5px; cursor: pointer; border:1px solid #CCC; }

.node-type-dresses #content .node .content .field-field-slideshow .views-slideshow-controls-bottom .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide{border:1px solid #000;}

.node-type-dresses #content .node .content .views-content-field-image-cache-fid{margin-bottom:10px;}

.node-type-dresses #content .node .content .product-body { width: 270px; float: right; font-size: 10px; margin: 15px 0 0; }

.node-type-dresses #content .node .content .product-info { width: 270px; float: left; color: #000; text-align: left; font-variant: small-caps; font-family: Arial, Helvetica, sans-serif; }

.node-type-dresses #content .node .content .product-info.list { font-size: 12px; font-weight: bold; }

.node-type-dresses #content .node .content .product-info.list .price-prefixes { padding-right: 0px; font-weight: bold; font-size: 14px;  }

.node-type-dresses #content .node .content .product-info.sell { font-size: 12px; }

.node-type-dresses #content .node .content .product-info.sell .price-prefixes { padding-right: 10px; font-weight: normal; }





.node-type-dresses #content .node .content .add-to-cart { width: 270px; margin-right: -25px; float: right; padding: 0 10px 10px; border: 1px solid #000; font-family: Arial, Helvetica, sans-serif; font-size: 11px; }

.node-type-dresses #content .node .content .add-to-cart .form-item { margin: 0 0 10px; }

.node-type-dresses #content .node .content .add-to-cart .form-item label { font-weight: normal; color: #000; text-transform: uppercase; }

.node-type-dresses #content .node .content .add-to-cart .attribute-2 { float: left; width: 68px; margin-right: 5px; border-right: 1px dotted black; overflow: hidden; padding-top: 10px; }

.node-type-dresses #content .node .content .add-to-cart .attribute-2 select { width: 50px; }

.node-type-dresses #content .node .content .add-to-cart .attribute-2 input {background-color: #ffffff;

    border: 1px solid #FFFFFF;

    color: #000000;

    margin: 0 6px 0 0;

    padding: 2px;

    width: 55px;}

.node-type-dresses #content .node .content .add-to-cart .attribute-1 input {background-color: #ffffff;

    border: 1px solid #FFFFFF;

    color: #000000;

    margin: 0 6px 0 0;

    padding: 2px;

    width: 75px;}

.node-type-dresses #content .node .content .add-to-cart .attribute-1 { float: left; width: 89px; border-right: 1px dotted black; margin-right: 5px; padding-top: 10px; }

.node-type-dresses #content .node .content .add-to-cart .attribute-1 select { width: 95px; }

.node-type-dresses #content .node .content .add-to-cart #edit-attributes-16-date-popup-timeEntry-popup-1-wrapper { display:none}

.node-type-dresses #content .node .content .add-to-cart .attribute-16 { float: right; width: 100px; padding-top: 10px; }

.node-type-dresses #content .node .content .add-to-cart .attribute-16 input.form-text { width: 90px; }



.node-type-dresses #content .node .content .add-to-cart .attribute-15 { float: right; width: 100px; clear: both; font-weight: bold; }

.node-type-dresses #content .node .content .add-to-cart .attribute-15 label { font-weight: bold; }

.node-type-dresses #content .node .content .add-to-cart .attribute-15 .form-item { margin: 0; }

.node-type-dresses #content .node .content .add-to-cart .attribute-15 .form-radios { margin: 5px 0; }



.node-type-dresses #content .node .content .add-to-cart input.form-submit { width: 100px; background-color: #000; color: #fff; float: right; clear: both; font-weight: bold; font-variant: small-caps; }

.node-type-dresses #content .node .content .add-to-cart input.form-submit:hover { background-color: #333; }

.node-type-dresses #content .node .content .add-to-cart #rental_date_choice { display: none; }





/* Content Top */

#content-top { margin-bottom: 75px; }

.view-feature-slides { position: relative; height: 475px; background-color: #fff; }

.view-feature-slides .view-header h3 {font-weight: bold; color: #000; font-size: 20px; height: 21px; font-family:"Times New Roman", Times, serif;}

.view-feature-slides .view-header h6 {font-weight: normal; color: #000; font-size: 17px; height: 35px; font-family:"Times New Roman", Times, serif;}



.view-feature-slides .views_slideshow_singleframe_main { position: relative; height: 475px; z-index: 10; }

.view-feature-slides .views_slideshow_singleframe_main .views_slideshow_singleframe_slide {}

.view-feature-slides .views_slideshow_singleframe_main .views_slideshow_singleframe_slide .views-field-title { position: absolute; top: 350px; background: #000; opacity: 0.6; padding: 6px; display: block; font-weight: bold; color: #fff; font-size: 16px; font-family:"Times New Roman", Times, serif; }

.view-feature-slides .views_slideshow_singleframe_main .views_slideshow_singleframe_slide .views-field-body { height: 50px; }

.view-feature-slides .views_slideshow_singleframe_main .views_slideshow_singleframe_slide .views-field-body p { font-size: 18px; font-family: "Times New Roman", Times, serif; }

.view-feature-slides .views_slideshow_singleframe_main .views_slideshow_singleframe_slide .views-field-field-dress-photos-fid { height: 400px; }



.view-feature-slides .views-slideshow-controls-bottom { position: absolute; right: 10px; bottom: 10px; z-index: 20; height: 10px; width: 60px; }

.view-feature-slides .views-slideshow-controls-bottom .pager-item { float: left; width: 9px; height: 9px; margin-right: 5px; padding: 0; }

.view-feature-slides .views-slideshow-controls-bottom .pager-item a { display: block; height: 0; padding: 9px 0 0; overflow: hidden; width: 9px; float: left; margin: 0; background: url(images/slide_pager.png) 0 0 no-repeat; }

.view-feature-slides .views-slideshow-controls-bottom .pager-item.activeSlide a { background-position: 0 -9px; }



/* Content Bottom */

#content-bottom { margin: 0 -50px 20px; }

#content-bottom .block { clear: both; margin-bottom: 45px; }

#content-bottom .block h3.title { margin-bottom: 15px; color: #04194e; font-size: 24px; height: 45px; background: url(images/ribbon.png) 0 0 no-repeat; padding: 5px 50px 0 150px; font-family:"Times New Roman", Times, serif; }



/*.front #content-bottom .block h3.title { font-variant: small-caps; font-family:"Times New Roman", Times, serif;}*/

#content-bottom .block .content { padding: 0 50px; }

#content-bottom .block .content .views-field-field-dress-photos-fid { float: left; margin-right: 40px; min-height: 200px; }

/*#content-bottom .block .content .views-field-body p, #block-block-3 p { font-size: 14px; }*/



#content-bottom .block .questions { padding-left: 125px; }

#block-block-3 h3, #content h3 { color: #ff49a3; margin: 0; font-family:"Times New Roman", Times, serif;}

#content-bottom .block .questions h3 {color: #ff49a3; font-weight: normal; margin: 0; font-size:18px;}



#content-bottom .block .questions p { padding-left: 50px; margin-bottom: 10px; }



#content-bottom .block .more-questions {}

#content-bottom .block .more-questions p { float: right; width: 200px; }

#content-bottom .block .more-questions p a { color: #000; }



/* Sidebars */

#column-left { width: 280px; padding: 0; margin-right: -10px; position: relative; z-index: 20; }

#column-left #logo-title { margin: 0 0 25px; }

#column-left #logo-title #logo { margin: 0; }
#logo img { margin-left: -77px; }



#sidebar-first { width: 270px; padding-left: 10px; }



#block-menu-menu-catalogs { margin-bottom: 40px; }

#block-menu-menu-catalogs .content {}

#block-menu-menu-catalogs .content ul.menu { display: block; padding: 0; margin: 0; }

#block-menu-menu-catalogs .content ul.menu li { display: block; padding: 0; margin: 0; height: 55px; width: 270px; background: url(images/menu_left_bg_shadow.png) 0 0 no-repeat; }

#block-menu-menu-catalogs .content ul.menu li a { letter-spacing: 1px; display: block; background: none #8f8c90; padding: 10px 10px 0 25px; margin: 0; height: 35px; width: 226px; color: #fff; font-family: "Times New Roman", Times, serif; font-weight: bold; font-variant: small-caps; font-size: 20px; }

#block-menu-menu-catalogs .content ul.menu li a:hover { text-decoration: none; }

#block-menu-menu-catalogs .content ul.menu li.menu-1099 a { background-color: #ff49a3; }

#block-menu-menu-catalogs .content ul.menu li.menu-1099 a:hover { background-color: #ff7cbd; }

#block-menu-menu-catalogs .content ul.menu li.menu-1100 a { background-color: #8f8c90; }

#block-menu-menu-catalogs .content ul.menu li.menu-1100 a:hover { background-color: #666; }

#block-menu-menu-catalogs .content ul.menu li.menu-1214 a { background-color: #000; }

#block-menu-menu-catalogs .content ul.menu li.menu-1214 a:hover { background-color: #333; }

#block-menu-menu-catalogs .content ul.menu li.menu-1215 a { background-color: #ff83c0; }

#block-menu-menu-catalogs .content ul.menu li.menu-1215 a:hover { background-color: #feabd4; }



#sidebar-first .block .block-tell-friend { width: 330px; margin-left: -60px; }





body.front #sidebar-first .block-user { background: url(images/login_bg.png) center center repeat; height: 440px; width: 250px; padding-bottom:20px; }

#sidebar-first .block-user { background: url(images/login_bg.png) center center repeat; height: 300px; width: 250px; padding-bottom:20px; }

body.front #sidebar-first .block-user .block-inner { padding: 145px 10px 10px; background: url("/sites/default/themes/frockshop/logo.png") center top no-repeat; }

#sidebar-first .block-user .block-inner { padding: 10px 10px 10px; background: none; }


	

#user-login-form { font-family: Arial, Helvetica, sans-serif; }

#user-login-form .form-item { height: 50px; margin: 0; position: relative; }

#user-login-form .form-item label { font-size: 13px; position: absolute; left: 0; top: 28px; color: #FF49A3; font-weight: normal; }

#user-login-form input.form-text { background: url(images/login_input_bg.png) center top repeat-x #fff; width: 178px; height: 19px; padding: 2px 5px; border: 1px solid #ccc; color:#808080 }

#user-login-form input.form-submit { background: url(images/enter.png) 0 -30px no-repeat; height: 30px; padding: 30px 0 0; overflow: hidden; width: 110px; float: right; text-indent: -9999px; }

#user-login-form input.form-submit:hover { background-position: 0 0px; }

#user-login-form .item-list { clear: both; height: 45px; position: relative; }

#user-login-form .item-list ul { display: block; padding: 0; margin: 0; }

#user-login-form .item-list ul li { list-style: none; list-style-image: none; display: block; padding: 0; margin: 0; }

#user-login-form .item-list ul li a { font-size: 15px; display: block; color: #000; position: absolute; left: 0; }

#user-login-form .item-list ul li a:hover { text-decoration: underline; }

#user-login-form .item-list ul li.first a { top: 30px; right: 5px; background: url(images/join_btn.png) 0 -30px no-repeat; height: 0; padding: 32px 0 0; overflow: hidden; width: 213px; float: right; text-indent: -3000px; display: block; left: auto; white-space: nowrap;}

#user-login-form .item-list ul li.first a:hover { background: url(images/join_btn.png) 0 0 no-repeat; }

#user-login-form .item-list ul li.last a { top: 0; }

#user-login-form .item-list ul li a span.join-free { color: #993b7d; display: block; }

#user-login-form .login { color: #FF49A3; display: block; font-size: 16px;font-weight:bolder;padding-top:15px}

#user-login-form .learnmore { color: #000;text-decoration:none;top:215px;position:relative;overflow:hidden;height:30px;}

#user-login-form .learnmore a.learn {  background: url(images/enter_btn.png) no-repeat scroll 0 -30px transparent;float: right;height: 30px;margin-right: 5px;overflow: hidden;padding: 35px 0 0;position: relative;width: 115px; text-indent: -9999px; }

#user-login-form .learnmore a.learn:hover { background-position:0 0;}

#user-login-form #edit-name-wrapper { margin-top: -20px; }



.marker, .form-required { color: #FF49A3; }

/* Footer */

#footer-wrapper { background-color: #000; }

#footer-wrapper-inner { width: 960px; margin: 0 auto; padding: 40px 0 20px; }



#footer { min-height: 200px; text-align: left; position: relative; }

#footer .block { float: left; padding-right: 50px; }

#footer .block h3.title { color: #fff; font-weight: normal; font-size: 24px; margin-bottom: 15px; font-family:"Times New Roman", Times, serif; }

#footer .block .content ul { font-family: Arial, Helvetica, sans-serif; }

#footer .block .content ul li { color: #989898; list-style: square; margin-bottom: 8px; }

#footer .block .content ul li a { color: #fff; }



#footer #block-block-2 { float: right; padding: 0; }

#footer #block-block-2 .content { padding-top: 120px; }

#footer #block-block-2 .content p { color: #fff; text-align: right; }



#footer #block-simplenews-1 { width: 220px; }

#footer #block-simplenews-1 p { color: #fff; }

#simplenews-block-form-1 { height: 20px; }

#simplenews-block-form-1 .form-item { float: left; margin: 0 5px 10px 0; background: none #fff; height: 14px; width: 133px; border: 1px solid #979797; padding: 2px 5px; }

#simplenews-block-form-1 .form-item label { display: none; }

#simplenews-block-form-1 input.form-submit { float: left; font-size: 10px; background: none #979797; color: #fff; height: 20px; width: 65px; }

#simplenews-block-form-1 input.form-submit:hover { background: none #666; }



#footer #block-boxes-connect_with_us {}

#footer #block-boxes-connect_with_us .content a.btn-social { color: #fff; font-family: Arial, Helvetica, sans-serif; display: block; height: 22px; line-height: 22px; padding: 0 0 0 32px; overflow: hidden; background: url(images/icons_social_small.png) 0 0 no-repeat; margin-bottom: 8px; }

#footer #block-boxes-connect_with_us .content a.btn-twitter { background-position: 0 0; }

#footer #block-boxes-connect_with_us .content a.btn-twitter:hover { background-position: 0 -22px; }



#footer #block-boxes-connect_with_us .content a.btn-blogger { background-position: 0 -44px; }

#footer #block-boxes-connect_with_us .content a.btn-blogger:hover { background-position: 0 -66px; }



#footer #block-boxes-connect_with_us .content a.btn-facebook { background-position: 0 -88px; }

#footer #block-boxes-connect_with_us .content a.btn-facebook:hover { background-position: 0 -110px ; }



#footer #block-boxes-connect_with_us .content a.btn-youtube { background-position: 0 -132px; }

#footer #block-boxes-connect_with_us .content a.btn-youtube:hover { background-position: 0 -154px ; }



/* Turn-off div backgrounds and borders */

.wrapper-inner {}

.region-inner {}

.region {}



/* Turn-off OM Base Theme Credit */

#legal { display: none; } 







.webform-container-inline label {display: block;float: left;margin-right: 1em;text-align: left;width: 50px;margin-bottom:3px;}

.webform-container-inline input.form-text{

    background-color: #F2F2F2;

    border: 1px solid #FFFFFF;

    color: #666666;

    padding: 2px;

	margin: 0 6px 0 0;width: 300px;

}

.webform-component{

	margin-bottom:3px;

}

.webform-container-inline div.description {

    display: block;

    margin-left: 133px;

}

#webform-component-message{

margin-bottom:25px;

}

#content .node .content table.cke_editor {

display:inline;

}

/*margin-left: -70px;*/



html.js .resizable-textarea textarea {

    display: inline;

    margin-bottom: 0;

    width: 100%;

}

.resizable-textarea {

    display: inline;

	position:relative;

    width: 80%;

}

.resizable-textarea .cke_skin_kama .cke_contents iframe {

    background-color: #FFFFFF;

	width:75%;

	height:100%;

}



#cke_edit-submitted-message {

	width:75%;

	top: 20px;

	position:relative;

}



.search-info{

display:none;

}







.form-item label {

    display: block;

    font-weight: bold;

	float: left;margin-right: 1em;text-align: left;margin-bottom:3px;min-width: 120px; width:120px;}
div.mailchimp-newsletter-wrapper .form-item label { width: 275px; line-height: 18px; }

#webform-client-form-2 .form-item label { min-width:70px;}



input.form-text{

    background-color: #F2F2F2;

    border: 1px solid #FFFFFF;

    color: #666666;

    padding: 2px;

	margin: 0 6px 0 0;width: 280px;

}



/* */

input.form-submit, fieldset legend  { background-color:#FF49A3}
input.form-submit { padding: 5px; }

input.form-submit:hover{ background-color:#AA0078;}

fieldset { background-color:#fff;}

/*checkout page */

#checkout-form-bottom {border:none;}

#edit-panes-billing-copy-address-wrapper.form-item label { margin-bottom:15px; width:100%}

.address-pane-table {clear: left}





p.availability a, p.categories a, p.sizes a, p.colors a { height: 30px;font-variant: small-caps; font-size: 20px; font-family: "Times New Roman", Times, serif; line-height: 30px; color: #04194e; letter-spacing: 2px; }

p.categoriesinner a, p.sizesinner a, p.colorsinner a { height: 20px;font-variant: small-caps; font-size: 15px; font-family: "Times New Roman", Times, serif; line-height: 20px; color: #04194e; letter-spacing: 2px; margin-left:10px; }



#error-lightbox2,

#addtocart-lightbox2 {

    display: none !important;

}



.section-rental #lightbox .uniq-lightbox {

    overflow: hidden;

    position: absolute !important;

    width: 450px !important;

}



.section-rental .uniq-lightbox #outerImageContainer {

    background: none repeat scroll 0 0 transparent !important;

    height: 300px !important;

    min-width: 400px !important;

    overflow: hidden !important;

    width: 400px !important;

}



.section-rental .hide-overlay {

    opacity: 0.2 !important;

}

.section-rental .uniq-lightbox #frameContainer {

    padding: 0 !important;

	height: 300px;

    width: 400px !important;

}

.section-rental .uniq-lightboxt #frameContainer iframe {

    height: 300px;

    width: 400px !important;

}

.section-rental #loadingLink {

    display: none;

}

.page-node-199-lightbox2,

.page-node-178-lightbox2{

    background: none repeat scroll 0 0 transparent;

}

.page-node-199-lightbox2 #page,

.page-node-178-lightbox2 #page{

    width: 400px !important;

}

.page-node-199-lightbox2 #page #me ,

.page-node-178-lightbox2 #page #me {

    height: 250px !important;

    left: 0;

    overflow: hidden !important;

    position: relative;

    top: 16px;

    width: 350px !important;

	background-color:#ffffff;

}

.page-node-199-lightbox2 #page #me #node-178 ,

.page-node-178-lightbox2 #page #me #node-178 {

    height: 250px !important;

    left: 0;

    overflow: hidden !important;

    position: relative;

    top: 16px;

    width: 350px !important;

	background-color:#ffffff;

}

.page-node-199-lightbox2 #squeeze h2,

.page-node-178-lightbox2 #squeeze h2{

    color: #FFFFFF;

    font-size: 1.4em;

    font-weight: normal;

    text-align: center;

}

.section-rental .page-node-199-lightbox2 #squeeze h2,

.section-rental .page-node-178-lightbox2 #squeeze h2{

    color: #FFFFFF;

    font-size: 1.4em;

    font-weight: normal;

    margin-bottom: 4.2em;

    text-align: center;

}

.page-node-199-lightbox2 #squeeze .node div.left a,

.page-node-178-lightbox2 #squeeze .node div.left a{

    color: #FF49A3;

    cursor: pointer;

    display: block;

    font-size: 12px;

    font-weight: bold;

	text-decoration:underline;

	width:180px;

	float:left;

}

.page-node-199-lightbox2 #squeeze .node div.right a,

.page-node-178-lightbox2 #squeeze .node div.right a{

    color: #FF49A3;

    cursor: pointer;

    display: block;

    font-size: 12px;

    font-weight: bold;

	text-decoration:underline;

	width:160px;

	float:right;

}

.page-node-199-lightbox2 #squeeze .node p,

.page-node-178-lightbox2 #squeeze .node p{

    color: #000000;

    cursor: pointer;

    display: block;

    font-size: 16px;

    font-weight: bold;

    text-align: center;

}



.page-node-199-lightbox2 #squeeze .node a:hover,

.page-node-178-lightbox2 #squeeze .node a:hover{

    text-decoration: none;

}

.lightbox2-orig-layout #imageDataContainer{

    display: none !important;

}



#cloud-zoom-big {

  border: 0;

}



#node-199.clear-block {

  display: block;

}



.node-type-dresses .terms {

  display: none;

}



.view-id-product .views_slideshow_thumbnailhover_div_breakout_teaser img {

  border: 1px solid #fff;

}



.view-id-product .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide img {

  border: 1px solid #000;

}

#views_slideshow_thumbnailhover_main_product-block_1 { float:left; }




/* user login new updates */

form#user-login-form .item-list .first {

top: -30px;

position:relative;



}

form#user-login-form .item-list .last {

top: -60px;

position:relative;

}



#user-login-form input.form-submit

{

margin-top:30px;

}



.view-id-testimonials .item-list .pager {

  font-size: 13px;

}



.view-id-testimonials .item-list .pager .pager-item a {

  color: #FF49A3;

  font-weight: bold;

}



input.form-submit { text-transform:uppercase;}

/*fix checkout */

.cke_skin_kama .cke_wrapper, #payment_details { clear:both;}

#uc-cart-checkout-form {font-family:Arial, Helvetica, sans-serif;}

.page-testimonials p strong { font-style:normal;}



/* pager */

/*

li.pager-first.first a{top:80px; position:relative; display:block; width:50px; left:130px; }

li.pager-previous a{top:50px;left:190px; position:relative; display:block; width:60px;}

li.pager-next a{top:20px;left:325px; position:relative; display:block; width:40px;}

li.pager-last a{left:370px; top:-10px; position:relative; display:block; width:40px;}

li.pager-last.last a{left:265px;top:-40px;position:relative; width:50px; color:#000;}

*/



.solid-border#quote {

  overflow: hidden;

}



.page-cart-checkout #switch_edit-panes-comments-comments, .page-cart-checkout .textarea-identifier.description,

.page-cart-checkout a#cke_16, .page-member-contact-us .ckeditor_links{display:none; font-size:0; line-height:0;}

.page-cart-checkout .form-item label { float: left; margin-right: 1em; text-align: left; margin-bottom:3px; width: 100%; min-width: none; padding-bottom: 5px;}



body:nth-of-type(1) #edit-panes-uc-ct-uc-tc-agree-uc-tc-wrapper label a{ text-decoration:underline; vertical-align:top;}

.page-cart-checkout #edit-panes-uc-ct-uc-tc-agree-uc-tc-wrapper label a {text-decoration:underline; vertical-align:text-top;}



.view-id-reviews {

  padding-left: 125px;

}



.view-id-reviews .views-row {

  margin-bottom: 32px;

}



.view-id-reviews .views-field-title {

  color: #FF49A3;

  padding-left: 50px;

}

div#overlay-text {
	position:absolute;
	bottom:11%;
	right:0px;
	z-index:999;
	color:#fff;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	background:url(images/overlay-text.png) repeat-y;
	width:377px;
	padding:8px 10px;
	font-family:"Times New Roman", Times, serif;
}

div#overlay-text a {
 color: #FFFFFF;
    display: block;
    padding-bottom: 2px;
    text-decoration: underline;
}

div#overlay-text a:hover {
	color:#c51676;
}

div#homepage-panel {
	background:url(images/homepage-panel-bg.png) no-repeat;
	width:583px;
	height:409px;
	padding:345px 30px 0 0px;
}

#splash-page-wrapper {
    margin: 0 auto;
    padding: 25px 0 0 25px;
}

h1#home-title {
	font-size: 4px;
    position: absolute;
    right: 0;
    top: 0;
}

#splash-page #splash-page-wrapper .messages {
	margin:0 auto;
	position:absolute;
	bottom:20%;
	right:0;
}

div#homepage-panel p {
	font-family:"Times New Roman", Times, serif;
	margin-bottom:0;
}

div#homepage-panel p.home1 {
	font-size:24px;
	text-align:center;
	line-height:24px;
	margin-bottom:8px;
}

div#homepage-panel p.home2 {
	font-size:30px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	margin-bottom:16px;
}

div#homepage-panel p.home3 {
	font-size:21px;
	text-align:center;
	line-height:21px;
	margin-bottom:16px;
}

div#homepage-panel a#enter {
	width:155px;
	height:32px;
	padding-top:3px;
	text-align:center;
	display:block;
	background:url(images/homepage-button.png) no-repeat;
	text-transform:uppercase;
	color:#fff;
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
	font-weight:bold;
	margin:0 auto;
	margin-top:10px;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

div#homepage-panel a#enter:hover {
	background:url(images/homepage-button.png) -155px 0 no-repeat;
}

div#homepage-panel a#enter:active {
	background:url(images/homepage-button.png) -310px 0 no-repeat;
}

img#home-cursive {
	margin:16px 0 0 14px;
}


div.view-homepage-product-slider div.view-content {

}


div.view-homepage-product-slider div.view-content .item-list {

}
div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-item-horizontal {
	margin:0px 8px;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-container-horizontal {
width: 513px;
padding:10px 40px;
margin-left:5px;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-clip-horizontal {
	width:513px;
}

div.view-homepage-product-slider ul.jcarousel {
	width:2188px;
}

div.view-homepage-product-slider ul.jcarousel li {
	width:155px !important;
	height:190px !important;
}

div.view-homepage-product-slider ul.jcarousel li a img{
	width:155px !important;
	height:190px !important;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-next-horizontal {
position: absolute;
top: 75px;
right: 10px;
background-position: -36px 0;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-prev-horizontal {
position: absolute;
top: 75px;
left: 15px;
background-position: 0 0;
}


div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-next, 
div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-prev {
display: block;
width: 18px;
height: 59px;
background-image: url(images/arrows.png);
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-next-disabled,
div.view-homepage-product-slider  .jcarousel-skin-default .jcarousel-prev-disabled {
display: none !important;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-next:hover {
	background-position: -54px 0;
}

div.view-homepage-product-slider .jcarousel-skin-default .jcarousel-prev:hover {
	background-position: -18px 0;
}


body.page-welcome-to-frock-shop-chicago div#content {
	min-height:0;
}

.mailchimp-newsletter-wrapper { display:none; }
/*div#node-178 div div a#first-child {display: none;}*/
