#fullcalendar {
  width: 240px;
  padding: 0 5px 5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #FFF;
}

#fullcalendar .full-calendar-month table {
  margin-bottom: 0;
}

button.today {
  display: none;
}

#fullcalendar .full-calendar-title {
  font-size: 14px;
  color: #ccc;
}

#fullcalendar .full-calendar-month td.day.today {
  color: #fff;
}

#fullcalendar .full-calendar-month th {
  color: #fff;
  background-color: #ccc;
}

#fullcalendar .full-calendar-month td.day {
  height: auto !important;
  text-align: center;
  border-color: #fff;
  background-color: transparent;
}

#fullcalendar .full-calendar-month .day-number {
  text-align: center;
  padding: 2px;
  background: #efefef;
}

#fullcalendar .full-calendar-month td.day.today .day-number {
  background-color: #FF49A3;
}

#fullcalendar .full-calendar-month-wrap {
  border: none;
}

#fullcalendar button.next-month,
#fullcalendar button.prev-month {
  background: none;
  border: none;
  color: #FF49A3;
  padding: 0;
}

#fullcalendar .day-number.to-date,
#fullcalendar .day-number.from-date {
  background-color: #ffc;
}

form#date-range {
  width: 252px;
  margin: 4px 0;
  overflow: hidden;
}

form#date-range .submit {
  background-color: #FF49A3;
  border: none;
  color: #fff;
  float: right;
}
